name: Publish Libs

on:
  pull_request:
    branches: [publish]

permissions:
  contents: write
  actions: read

jobs:
  nest-crud:
    name: Build & Verify nest-crud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Test @nest-util/nest-crud
        run: pnpm nx test @nest-util/nest-crud

      - name: Build @nest-util/nest-crud
        run: pnpm nx build @nest-util/nest-crud

      - name: Create Tarball
        run: |
          cp libs/nest-crud/package.json libs/nest-crud/dist/package.json
          cd libs/nest-crud/dist
          # Fix paths in package.json to be relative to the current folder (dist)
          jq '(.main, .module, .types, .exports["."].types, .exports["."].import, .exports["."].default) |= sub("^\\./dist/"; "./") | del(.files) | del(.exports["."]["@nest-util/source"])' package.json > package.json.tmp && mv package.json.tmp package.json
          pnpm pack --pack-destination ../../../
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nest-crud-tgz
          path: nest-util-nest-crud-*.tgz
          retention-days: 7

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          files: nest-util-nest-crud-*.tgz
          prerelease: true
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
